h3 {
	text-align:center;
}
p{
	text-align:center;
}
.finger {
	width: 80%;
   text-align:center;
   float:center;
   margin:auto;
}
.mid{
	width:40%;
   float:left;
   height:300px;
}
.onefinger {
				/* width: 20%;
				margin: 10px auto;
				border: 1px solid #000000;
				float:left; */
				width: 30%;
   height:300px;
   float: left;
   box-sizing: border-box;
			}
			.onefinger img {
				width: 50%;
				vertical-align: middle;
			}
			.onefinger-text {
				padding: 5px 10px;
				background-color: rgb(254, 240, 158);
				text-align: center;
			}
.twofinger {
				/* width: 20%;
				margin: 10px auto;
				border: 1px solid #000000;
				float:right; */

   width: 30%;
   height:300px;
   float: left;
   box-sizing: border-box;
			}
			.twofinger img {
				width: 50%;
				vertical-align: middle;
			}
			.twofinger-text {
				padding: 5px 10px;
				background-color: rgb(254, 240, 158);
				text-align: center;
			}
.footer {
    clear: both;
    height: 90px;
    padding: 15px 70px;
    /* border-top: 3px solid #ddd; */
    text-align:center;
}

.footer button {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

#menu {
    background-color: #c22c27;
    color: white;
}

#menu:hover {
   background-color: white;
    color: black;
    font-size: 1.3em;
    border: 2px solid black;
}

#cart {
    background-color: #025936;
    color: white;
}

#cart:hover {
   background-color: white;
    color: black;
    font-size: 1.3em;
    border: 2px solid black;
}
#recommend {
    background-color: rgb(0, 0, 160);
    color: white;
}

#recommend:hover {
   background-color: white;
    color: black;
    font-size: 1.3em;
    border: 2px solid black;
}