<!DOCTYPE html>
<html lang="ko">
<style>
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Manager</title>

    <!--jQuery 라이브러리 로드-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <!--부트스트랩 로드-->
    <!-- 웹 폰트 로드-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/beforeBuy.css">   
    <th:block th:replace="/cafe/header.html"></th:block>
    </head>

<body>
    <div class="info">
    	
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr style="size:3"><br>
    <div class="footer">
        <button id="menu">메뉴</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="cart">장바구니에 담기</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="recommend">추천</button>
    </div>
    <script src="/js/beforeBuy.js"></script>
</body>
</html>