<!DOCTYPE html>
<html lang="ko">
<style>
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Manager</title>

    <!--jQuery 라이브러리 로드-->
    <!-- Bootstrap CSS -->
    <!--부트스트랩 로드-->
    <!-- 웹 폰트 로드-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!--menu.css를 로드-->
    <link rel="stylesheet" href="/css/car.css">

    <!--menu.js를 로드 -->
    <script src="/js/menu.js"></script>
    <th:block th:replace="/cafe/header.html"></th:block>
</head>

<body>
    <div class="textcar">
    <br>
	<h1>차량 사진을 찍겠습니까?</h1>
	<br>
	</div>

    <hr style="size:3"><br>
    <div class="footer">
        <button id="yes">예</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="no">아니요</button>
    </div>
</body>
</html>