<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style type="text/css">
.header{
	width:600px;
	height:200px;
	text-align:center;
	float:center;
}
img { display: block; margin: 0px auto; }
</style>
    <!--
    <style>
    div{
    	float:left;
    	padding:10px;
    	border:2px solid #000;
    	width:33%;
    }
    </style>
    -->
</head>
<body>
<img class="header" src="/img/title.JPG" alt="">
<hr style="size:3"><br>
</body>
</html>